/* br {
    font-size: 2vw;
} */

#graph {
  margin-top: 2.45%;
  position: relative;
  height: 50vh;
}
#legend {
  position: absolute;
}
#legend_edge {
  position: relative;
  float: right;
}
#demo_edge {
  float: right;
  position: relative;
}
.legend .blue {
  border-radius: 0%;
  width: 3.2vw;
  margin-top: 2.8%;
  height: 0.35vw;
  border: 0vw solid grey;
}
.legend .white {
  border-radius: 0%;
  width: 3vw;
  margin-top: 2.8%;
  height: 0.3vw;
  border: 0.1vw solid #a4c652;
}

.legend .grey {
  border-radius: 0%;
  width: 3.2vw;
  margin-top: 2.8%;
  height: 0.35vw;
  border: 0vw solid grey;
}

.legend .green {
  border-radius: 0%;
  width: 3.2vw;
  margin-top: 2.8%;
  height: 0.35vw;
  border: 0vw solid grey;
}
.legend .black {
  border-radius: 0%;
  width: 3.2vw;
  margin-top: 2.8%;
  height: 0.35vw;
  border: 0vw solid grey;
}
.legend .violet {
  background-color: darkblue;
}

.legend .grey_edge {
  background-color: #808080;
  border-radius: 0%;
  width: 3.2vw;
  margin-top: 2.8%;
  height: 0.35vw;
  border: 0vw solid grey;
}
.legend .black_edge {
  background-color: black;
  border-radius: 0%;
  width: 3.2vw;
  margin-top: 2.7%;
  height: 0.35vw;
  border: 0vw solid black;
}

#comments {
  position: relative;
  margin-top: 0.6vw;
  left: 35%;
  height: 6vh;
}
#comments-demo {
  position: relative;
  margin-top: 0.6vw;
  left: 35%;
  height: 20vh;
}
#comments_que {
  position: relative;
  margin-top: 10vw;
  left: 35%;
  height: 6vh;
}
.buttons_practice {
  margin-top: 10%;
}
.buttons {
  display: block;
  width: 100%;
  text-align: center;
  position: relative;
  z-index: 1;
  max-width: 100%;
}
.buttons button {
  z-index: 1;
}
#ranger {
  margin-top: 1.5%;
  position: relative;
  /* font-size: 1.7vw; */
  width: 80%;
  max-width: 800px;
  z-index: 1;
  margin-left: auto;
  margin-right: auto;
}
.slider_input {
  width: 10%;
}

th {
  text-align: center;
}

/* Mobile Responsive Design */
@media (max-width: 768px) {
  #graph {
    height: 40vh;
    margin-top: 5%;
    width: 100%;
  }

  #legend {
    position: relative;
    width: 100%;
    margin: 10px auto;
    float: none;
    clear: both;
  }

  #legend_edge {
    position: relative;
    width: 100%;
    float: none;
    clear: both;
    margin: 10px auto;
  }

  #demo_edge {
    position: relative;
    width: 100%;
    float: none;
    clear: both;
    margin: 10px auto;
  }

  .legend {
    width: 90%;
    margin: 0 auto;
  }

  .legend table {
    width: 100%;
    font-size: 14px;
  }

  .legend .blue,
  .legend .white,
  .legend .grey,
  .legend .green,
  .legend .black,
  .legend .grey_edge,
  .legend .black_edge {
    width: 40px;
    height: 4px;
    margin-top: 5px;
  }

  #comments,
  #comments-demo,
  #comments_que {
    position: relative;
    left: 0;
    width: 90%;
    margin: 15px auto;
    height: auto;
    min-height: 60px;
    font-size: 14px;
  }

  #ranger {
    width: 90%;
    margin: 15px auto;
    font-size: 12px;
    text-align: center;
  }

  .slider_input {
    width: 60%;
    display: block;
    margin: 10px auto;
  }

  .buttons,
  .buttons_practice {
    width: 100%;
    margin: 15px auto;
    text-align: center;
  }

  .button-input {
    width: 45%;
    max-width: 150px;
    margin: 8px 2%;
    display: inline-block;
    font-size: 14px;
    padding: 12px 8px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }

  .instruction-box {
    width: 95%;
    margin: 10px auto;
  }

  .comment-box {
    width: 90%;
    margin: 10px auto;
    padding: 15px;
  }
}
